{% extends 'base.html' %}
{% load static %}
{% block title %}Car Sharing{% endblock %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('{% static 'images/bg_1.jpg'%}');" data-stellar-background-ratio="0.5">
<br>
    <div class="container">
<div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                     </div>
            </div>
            <div class="col-md-6">
                <div class="card2 card border-0 px-3 py-5">
                <h3>Login</h3>
                    <input type='hidden' name='csrfmiddlewaretoken' value='JswHLk4fNpxHkh0OObD1uKiOxSDUzkMDWtqzcsFR5pRdRfYEbNNs1AD23Hkjm2fb' />
       <form action="" method="POST">
{% csrf_token %}
    {{ form }}

        <div class="row mb-3 px-3"><input class="btn btn-blue text-center" type="submit" value="Login" /></div>
        <div class="row mb-4 px-3"> <small class="font-weight-bold">Don't have an account? <a class="text-danger" href="/register/">Register</a></small> </div>

</form>
                </div>
            </div>
</div>
</div>
</section>

   {% endblock %}
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>